@font-face {
  font-family: 'BMDOHYEON_ttf';
  src: url('/fonts/BMDOHYEON_ttf.ttf') format('truetype'); 
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'BMDOHYEON_ttf';
}

:root {
  --personal-color-black: #000000;
  --personal-color-white: #ffffff;
  --personal-color-gray: #6b7280;
  --personal-color-blue: #3d7eff;
  --personal-color-red: #ff0000;
}